<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://unpkg.com/vue">
    </script>
  </head>
<body>
<div id="app-7">
    <h1>{{title}}</h1>
  <ul>
    <!--
      Now we provide each todo-item with the todo object
      it's representing, so that its content can be dynamic.
      We also need to provide each component with a "key",
      which will be explained later.
    -->
    <todo-item
      v-for="(item, index) in todoList"
      v-bind:todo="item"
      v-bind:key="item.id"
      :index="index"
    ></todo-item>
  </ul>
<input placeholder="Enter new task.." v-model="newtask" type="text">
    <button v-on:click="Add()">Add Task</button>
</div>
</body>
<script>        
Vue.component('todo-item', {
  props: ['todo', 'index'],
  template: '<li>{{ todo.text }} &nbsp&nbsp<button v-on:click="$parent.remove(index)">Remove</button></li>'
})

var app7 = new Vue({
  el: '#app-7',
  data: {
      title:'To-Do List',
      newtask:'',
      latestID:2,
    todoList: [
      { id: 0, text: 'Buy Vegetables' },
      { id: 1, text: 'Buy milk andCheese' },
        
    ]
  },
  methods:{
      Add:function(){
         return this.todoList.push({text:this.newtask, id:this.latestID++});
      },
      remove:function(index){
          console.log(index);
          this.todoList.splice(index,1);
      },
  } ,
});
</script>