<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="socialMedia.css">
  </head>
<body>
    <div id="app">
        <div class="navig">
            <label class="main">Social Media</label>
            <button class="navi">Log Out</button>
            <button class="navi">Notifications</button>
            <button class="navi">Settings</button>
        </div>
        <div  class="left">
            <img src="profile.png"  alt="Image coming soon">
            <h3>{{name}}</h3>
            <ul class="stats" style="list-style: fa-fa star;">
            <li > <label>Friends</label>
            <span>{{friends}}</span></li>
            <li>
            <label>Followers</label>
            <span>{{followers}}</span>    
                </li>
            <li>
            <label>Posts</label>
            <span>{{posts}}</span>
                </li>    
            </ul>        
        </div>
        <aside class="right">
            <br>
            <label style="margin: 5%;font-size: 25px;">Games</label>
            <ul>
                <li v-for="game in games">
                    {{ game.name }}
                </li>
            </ul>
            <label style="margin: 5%;font-size: 25px;">Online Users</label>
            <ul class="online">
                <li v-for="user in OnlineUsers" >
                    {{ user.name }}
                </li>
            </ul>
        </aside>
        <div class="center">
            <br>
            <label style="margin: 20px;font-size: 20px;">Create Post</label>
            <br><br>
            <textarea v-model="content" placeholder="Type something here...."></textarea><br>
            <button v-on:click="Add()" class="share">Share it!</button>
            <br>
            <ul class="Timeline">
            <li  v-for="item in postList" class="single">
            <h5>Raj Prajapati</h5>
            <p>{{item.text}}</p>    
            </li>
            </ul>

        </div>
        
    </div>
</body> 
<script>

var vm=new Vue({
    el:"#app",
    data:{
        name:'Raj Prajapati',
        friends:111,
        followers:90,
        posts:66,
        games: [
        { name: 'Jig-Saw' },
        { name: 'Tic tac Toe' },
        { name: '3D Car race' },
        { name: 'Poker' },
        { name: 'Teenpatti' },
        { name: 'Cricket' },
        { name: 'Rummy' },    
        ],
        OnlineUsers:[
        { name: 'Neel Patel' },
        { name: 'Sumit saini' },
        { name: 'Nayan Meghwal' },
        { name: 'Vivek Vanani' },
        { name: 'Harsh Suthar' },
        { name: 'Sagar Patel' },
        { name: 'Swapnil Patel' },    
        ],
        postList:[
         { text: 'Chiling out with friends here at Hard rock cafe in Time square,Newark.' },
         { text: 'Buy milk and Cheese for healthy breakfast' }, 
         { text: 'Making the most of the weekend.Had a great weekend in Goa.' },
         { text: 'Buy milk and Cheese for healthy breakfast' }
         
        ]
        },
    methods:{
                Add:function(){
                    if(this.content!=null){
                        console.log(this.content);
                        this.postList.unshift({text:this.content});
                    }
                }
            }
});   
</script>    